body ,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

header{
	display: flex;
    	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	width: 900px;
	max-width: 100%;
	height: 150px;
	background-color: #F2E8FF;
	border-bottom: 5px solid #AD74FF;
	clear: both;
	margin-bottom: 20px;
}

#logo_picture img {
	margin: 25px 10px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	vertical-align: middle;
	box-shadow: 2px 2px 15px #aab;
}

#logo_picture img:hover {
    transform: rotate(45deg);
}

#header-title {
	margin-top: 10px;
	margin-left: auto;
	text-align: right;
	padding: 0 20px;
	margin: -10px;
	font-weight: bold;
}

#big_picture {
	background: no-repeat center/cover url("../img/colors1.jpg");  
	width: 900px;
	height: 400px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 8px;
	max-width: 100%;
	max-height: 40%;
	vertical-align: middle;
	box-shadow: 8px 8px 8px 0 #F2E8FF;
}

#content {
	display: flex;
	width: 900px;
	max-width: 100%;
	justify-content: center;
	text-align: center;
}

.feature-work {
	width: 900px;
	max-width: 100%;
	font-size: 1em;
	border-top: 5px solid #AD74FF;
	border-bottom: 5px solid #AD74FF;
	margin-bottom: 20px;
	background-color: #F2E8FF;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.headline {
	font-family: "Viner Hand ITC", serif;
	color: #6B3AFF;
	margin-right: -15px;
	padding-left: 20px;
}

.style-card {
	box-shadow: 2px 2px 4px 0 #F2E8FF;
	width: 30%;
	max-width: 250px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	display: inline-flex;
	flex-wrap: wrap;
	flex: 1;
}

.style-card:hover {
	background-color: #F2E8FF;
}

.chunk img {

	display: flex;
	flex-direction: column;
	height:200px;
	width: 200px;
}

.my-link {
	font-size: 1em;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #6B3AFF;
}

.my-link:hover {
	color: #832;
}

a {
	color: #6B3AFF;
	text-decoration: none;
	border-radius: 25%; 
}

a:hover {
	color: #852;
	text-decoration: underline;
	box-shadow: 5px 5px 22px #9aa;
}

footer {
	width: 900px;
	max-width: 99,99%;
	margin-top: 20px;
	text-align: center;
	font-size: 23px;
	background-color: #F2E8FF; 
	border-top: 5px solid #AD74FF;
	valign center;
}

footer img {
	width: 30px;
	height: 30px;
	margin: 7 px;
}
footer img:hover {
    transform: scale(1.5);
}

.footer_div	 {
	padding: 10px;
}

/* breakpoints */
@media screen and (max-width: 900px) {
	#content {
		flex-wrap: wrap;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		float: center;
	}

	.style-card {
		float: center;
		min-width: 250px;
		max-width: 50%;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.chunk img {
		display: flex;
		height: 200px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.feature-work {
		font-size: 1em;
	}

}

@media screen and (max-width: 700px) {

	#big_picture {
		height: 150px;
		font-size: 1em;
		line-height: 150px;
	}

	#logo_picture img {
		height: 50px;
		width: 50px;
		box-shadow: 2px 2px 15px #aab;
	}

	header {
		display: flex;
		height: 120px;
	}

	#header-title {
		margin: -30px 1px;
	}

	.style-card {
		min-width:50%;
	}
	
	.chunk {
		width:100%;
	}

	.chunk img{
		height:200px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.chunk p {
		font-size: 1em;
	}

	.feature-work {
		font-size: 1em;
		text-align: center;
	}
